.join {
  padding-block: var(--container-padding-y);

  &__block {
    padding-block: clamp(2rem, 1.171rem + 3.54vw, 4rem);
    padding-inline: clamp(1.5rem, -0.261rem + 7.51vw, 5.75rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.5rem;
  }

  &__header {
    max-width: 53.75rem;
    text-align: center;
  }
}