.mission {
  padding-block: var(--container-padding-y);
  background-color: var(--color-light);

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: var(--column-gap-section);
    @media (max-width: 1023.98px) {
      flex-direction: column;
      row-gap: var(--row-gap-section);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &__content {
      display: grid;
      row-gap: .75rem;
    }

    &__title {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

}