.rights {
  padding-block: var(--container-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--row-gap-section);
  }

  &__body {
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @media (max-width: 1023.98px) {
        grid-template-columns: auto;
      }
    }

    &-item {
      &:nth-child(3n-2),
      &:nth-child(3n-1) {
        border-right: 1px solid #e4e4e7;

        @media (max-width: 1023.98px) {
          border-right: none;
          border-bottom: var(--border-tile);
        }
      }
      &:nth-child(6n-5),
      &:nth-child(6n-4),
      &:nth-child(6n-3) {
        border-bottom: var(--border-tile);
      }
    }
  }
}

.card-right {
  padding: 1.5rem 2rem;
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  text-align: center;

  &__info {
    display: grid;
    row-gap: 0.25rem;
  }

  &__title {
    font-size: 1.25rem;
  }
}